<div id="userList" th:fragment="users">
    <div th:if="${not #lists.isEmpty(userList)}">
        <table class="userList">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Telefon służbowy</th>
                <th>Adres do wiadomości</th>
                <th>Uprawnienia</th>
                <th>Usuń</th>
            </tr>
            <tr th:each="userList : ${userList}">
                <span th:if="${userList.account.isActive}">
                    <td th:text="${userList.employee.name}" class="msgList"></td>
                    <td th:text="${userList.employee.surname}" class="msgList"></td>
                    <td>
                        <span th:if="${userList.employee.phone != null}">
                            <span th:text="${userList.employee.phone}" class="msgList"></span>
                        </span>
                    </td>
                    <td>
                        <a th:href="@{'/sendMessage/sendTo/'+${userList.employee.id}}">
                            <span th:text="${userList.employee.login}" class="msgList"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/employees/permissions/'+${userList.employee.id}}">
                            [EDYTUJ]
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/employees/delete/'+${userList.employee.id}}">
                            [USUŃ]
                        </a>
                    </td>
                </span>
            </tr>

        </table>
    </div>
</div>