<div id="messageList" th:fragment="messageList">
    Otrzymane wiadomości:
    <div th:if="${not #lists.isEmpty(recivedMsg)}">
        <table class="recived-messages">
            <tr>
                <th class="toDes">Autor</th>
                <th class="subjectDes">Temat</th>
                <th class="dateDes">Otrzymano</th>
            </tr>
            <tr th:each="recivedMsg : ${recivedMsg}">
                <td th:text="${recivedMsg.author.employee.name+' '+recivedMsg.author.employee.surname}" class="msgList"></td>
                <td><a th:href="@{'/sendMessage/openedMessage/'+${recivedMsg.id}}" th:text="${recivedMsg.subject}" class="msgList"></td>
                <td th:text="${recivedMsg.created}" class="msgList"></td>
            </tr>
        </table>
    </div>
</div>