<div id="messageList" th:fragment="sendedMessageList">
    Wysłane wiadomości:
    <div th:if="${not #lists.isEmpty(sendedMsg)}">
        <table class="sended-messages">
            <tr>
                <td class="toDes">Adresat</td>
                <td class="subjectDes">Temat</td>
                <td class="dateDes">Wysłano</td>
            </tr>
            <tr th:each="sendedMsg : ${sendedMsg}">
                <td th:text="${sendedMsg.addressee.employee.name+' '+sendedMsg.addressee.employee.surname}" class="msgList"></td>
                <td><a th:href="@{'/sendMessage/openedMessage/'+${sendedMsg.id}}" th:text="${sendedMsg.subject}" class="msgList"></td>
                <td th:text="${sendedMsg.created}" class="msgList"></td>
            </tr>
        </table>
    </div>
</div>