<div id="navbar-left" th:fragment="navigation">
    <nav class="navbarLeft">
        <ul class="navbarList">
            <li class="navItem">
                <a class="navLink" href="/home">Strona domowa</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/sendMessage">Wiadomości</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/failures">Awarie</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/createTasklist">Przydziel zadania</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/createSchedule">Utwórz grafik</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/addEmployee">Dodaj pracownika</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/addPermissions">Nadaj uprawnienia</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/machines">Maszyny</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/myAccount">Moje konto</a>
            </li>
            <li class="navItem">
                <a class="navLink" href="/logout">Wyloguj</a>
            </li>
        </ul>
    </nav>
</div>