<div id="failureList" th:fragment="endedFailureList">
    <div th:if="${not #lists.isEmpty(failuresList)}">
        Naprawione awarie:
        <table class="failuresList">
            <tr>
                <th>Id</th>
                <th>Maszyna</th>
                <th>Zakończono naprawę</th>
                <th>Naprawił</th>
                <th>Krótki opis</th>
                <th>Raport</th>
            </tr>
            <tr th:each="failuresList : ${failuresList}">
                <td th:text="${failuresList.id}" class="msgList"></td>
                <td><a th:href="@{'/machines/'+${failuresList.brokenMachine.id}}" ><span th:text="${failuresList.brokenMachine.id+'. '+failuresList.brokenMachine.producer+' '+failuresList.brokenMachine.model}" class="msgList"></span></a></td>
                <td th:text="${failuresList.ended}" class="msgList"></td>
                <td>
                    <a th:href="@{'/sendMessage/ask/'+${failuresList.ender.id}+'/'+${failuresList.id}}">
                        <span th:text="${failuresList.ender.employee.name+' '+failuresList.ender.employee.surname}" class="msgList"></span>
                    </a>
                </td>
                <td th:text="${failuresList.shortInfo}" class="msgList"></td>
                <td>
                    <span th:if="${failuresList.raport!=null}">
                        <a th:href="@{'/uploads/failures/raports/' + ${failuresList.raport}}">Pobierz</a>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>