<div id="failureList" th:fragment="failureList">
    <div th:if="${not #lists.isEmpty(failuresList)}">
        Awarie zgłoszone:
        <table class="failuresList">
            <tr>
                <td>Id</td>
                <td>Maszyna</td>
                <td>Zgłoszono</td>
                <td>Zgłosił</td>
                <td>Krótki opis</td>
                <td>Przyjmij</td>
            </tr>
            <tr th:each="failuresList : ${failuresList}">
                <span th:if="${failuresList.isAccept==0}">
                    <td th:text="${failuresList.id}" class="msgList"></td>
                    <td><a th:href="@{'/machines/'+${failuresList.brokenMachine.id}}" ><span th:text="${failuresList.brokenMachine.id+'. '+failuresList.brokenMachine.producer+' '+failuresList.brokenMachine.model}" class="msgList"></span></a></td>
                    <td th:text="${failuresList.created}" class="msgList"></td>
                    <td th:text="${failuresList.creator.employee.name+' '+failuresList.creator.employee.surname}"
                        class="msgList"></td>
                    <td th:text="${failuresList.shortInfo}" class="msgList"></td>
                    <td><a th:href="@{'/failures/accept/'+${failuresList.id}}">[V]</a></td>
                </span>
            </tr>
        </table>
    </div>
</div>