<div id="myEndedList" th:fragment="myEndedList">
    <div th:if="${not #lists.isEmpty(failuresList)}">
        <a href>Wzór raportu</a>
        Moje naprawione awarie:
        <table class="failuresList">
            <tr>
                <td>Maszyna</td>
                <td>Zakończono naprawę</td>
                <td>Naprawił</td>
                <td>Krótki opis</td>
                <td>Raport</td>
            </tr>
            <tr th:each="failuresList : ${failuresList}">
                <td th:text="${failuresList.brokenMachine.id+'. '+failuresList.brokenMachine.producer+' '+failuresList.brokenMachine.model}" class="msgList"></td>
                <td th:text="${failuresList.created}" class="msgList"></td>
                <td th:text="${failuresList.creator.employee.name+' '+failuresList.creator.employee.surname}" class="msgList"></td>
                <td th:text="${failuresList.shortInfo}" class="msgList"></td>
                <td><a th:href="@{/}">[V]</a></td>
            </tr>
        </table>

        Awarie przyjęte:
        <table class="failuresList">
            <tr>
                <td>Id:</td>

            </tr>
        </table>
    </div>
</div>