<div id="myEndedList" th:fragment="myEndedList">
    <div th:if="${not #lists.isEmpty(failuresList)}">
        <a th:href="@{/uploads/failures/raports/raportWzor.docx}">Wzór raportu</a><br>
        Moje naprawione awarie:
        <table class="failuresList">
            <tr>
                <th>Id</th>
                <th>Maszyna</th>
                <th>Zakończono naprawę</th>
                <th>Naprawił</th>
                <th>Krótki opis</th>
                <th>Raport</th>
            </tr>
            <tr th:each="failuresList : ${failuresList}">
                <td th:text="${failuresList.id}" class="msgList"></td>
                <td><a th:href="@{'/machines/'+${failuresList.brokenMachine.id}}" ><span th:text="${failuresList.brokenMachine.id+'. '+failuresList.brokenMachine.producer+' '+failuresList.brokenMachine.model}" class="msgList"></span></a></td>
                <td th:text="${failuresList.created}" class="msgList"></td>
                <td th:text="${failuresList.creator.employee.name+' '+failuresList.creator.employee.surname}" class="msgList"></td>
                <td th:text="${failuresList.shortInfo}" class="msgList"></td>
                <td>
                    <span th:if="${failuresList.raport==null}">
                        <a th:href="@{'/failures/addRaport/' + ${failuresList.id}}">[+]</a>
                    </span>
                    <span th:if="${failuresList.raport!=null}">
                        <a th:href="@{'/uploads/failures/raports/' + ${failuresList.raport}}">Pobierz</a>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>