<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/defaultStyle.css}">
</head>
<body>
<div id="container">
    <div th:replace="fragments/header :: header"></div>

    <div id="workspace">
        <div th:replace="fragments/navigation :: navigation"></div>

        <div id="content">
            <h1>Przydziel zadania</h1>
        </div>

        <div style="clear:both;"></div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>