<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/defaultStyle.css}">
</head>
<body>
<div id="container">
    <div th:replace="fragments/header :: header"></div>

    <div id="workspace">

        <div th:replace="fragments/navigation :: navigation"></div>


        <div id="content">
            <div class="top-bar">
                <a class="navLink" href="/employees"> --Lista-- |</a>
                <a class="navLink" href="/employees/addEmployee"> --Dodaj-- |</a>
            </div>


            <span th:if="${case=='addUser'}"><div th:replace="fragments/users/addUser :: addUser"></div></span>
            <span th:if="${case=='list'}"><div th:replace="fragments/users/users :: users"></div></span>
            <span th:if="${case=='permissions'}"><div th:replace="fragments/users/editPermissions :: permissions"></div></span>

        </div>

        <div style="clear:both;"></div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>