<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/defaultStyle.css}">
</head>
<body>
<div id="container">
    <div th:replace="fragments/header :: header"></div>

    <div id="workspace">

        <div th:replace="fragments/navigation :: navigation"></div>



        <div id="content">
            <div class="top-bar">
                <a class="navLink" href="/sendMessage/send">Wyślij wiadomość</a>
                <a class="navLink" href="/sendMessage">Otrzymane</a>
                <a class="navLink" href="/sendMessage/sended">Wysłane</a>
            </div>

            <span th:if="${case=='sending'}"><div th:replace="fragments/messages/sendMsg :: sendMessage"></div></span>
            <span th:if="${case=='recived'}"><div th:replace="fragments/messages/messageList :: messageList"></div></span>
            <span th:if="${case=='sended'}"><div th:replace="fragments/messages/sendedMsgList :: sendedMessageList"></div></span>
            <span th:if="${case=='opened'}"><div th:replace="fragments/messages/openMsg :: openMessage"></div></span>
            <span th:if="${case=='answer'}"><div th:replace="fragments/messages/answer :: answerMsg"></div></span>

        </div>

        <div style="clear:both;"></div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>