<div id="machineList" th:fragment="machineList">
    <div th:if="${not #lists.isEmpty(machineList)}">
        <table class="machineList">
            <tr>
                <th>Producent</th>
                <th>Model</th>
                <th>Serwis</th>
                <th>Budynek/Miejsce</th>
                <th>Podgląd:</th>
            </tr>
            <tr th:each="machineList : ${machineList}">
                <td th:text="${machineList.producer}" class="msgList"></td>
                <td th:text="${machineList.model}" class="msgList"></td>
                <td th:text="${machineList.serviceNumber}" class="msgList"></td>
                <td th:text="${machineList.building+'/'+machineList.localisation}" class="msgList"></td>
                <td><a th:href="@{'/machines/'+${machineList.id}}"><-</a></td>
            </tr>
        </table>
    </div>
</div>