<div id="pass" th:fragment="pass">
    <form th:action="@{/home/pass}" th:object="${passChange}" method="post">
        <table id="passChange">
            <tr>
                <td>Stare hasło:</td>
                <td><input type="password" id="oldPass" name="oldPass" autofocus="autofocus"> </td>
            </tr>
            <tr>
                <td>Nowe hasło:</td>
                <td><input type="password" id="newPass" name="newPass"> </td>
            </tr>
            <tr>
                <td>Powtórz:</td>
                <td><input type="password" id="repeat" name="repeat"> </td>
            </tr>
        </table>
        Nowe hasło powinno zawierać przynajmniej 8 znaków, w tym przynajmniej jeden znak specjalny <br>
        <input type="submit" value="Zmień">
    </form>
    <span th:text="${info}"></span>
</div>